* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.25%;
  --color: #1e90ff;
  font-family: "Nunito Sans", sans-serif;
  --gradient: linear-gradient(to right, #000428, #004e92);
  --text: #1c1c1c;
  --other: #eee;
  --nav: #010a2b;
  --blue: #070033;
}
body {
  overflow-x: hidden;
}
/* ################################
Navigation Bar
################################ */
header {
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
  background: var(--blue);
  align-items: center;
  min-height: 6.6rem;
}
header .logo {
  width: 10rem;
}
header .logo img {
  width: 100%;
}
header nav ul {
  position: relative;
}
header nav ul li {
  position: relative;
  list-style: none;
  float: left;
}
header nav ul a {
  text-decoration: none;
  padding: 2.5rem 2rem;
  color: var(--other);
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}
header nav ul li ul {
  position: absolute;
  width: 20rem;
  background: var(--blue);
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  display: none;
}
header nav ul li ul li {
  width: 100%;
  border: 1px solid var(--other);
}
header ul li:focus-within > ul {
  display: block;
}
nav ul li span {
  font-weight: 900;
}
.icons {
  display: none;
}
.icons .close {
  display: none;
}
nav ul li a:hover {
  background: var(--color);
}
.icons {
  font-size: 4rem;
  color: #fff;
}
header.active i.open {
  display: none;
}
header.active i.close {
  display: block;
}
/* ##################################### */
/* News .item */
/* ##################################### */
div.card {
  width: 25rem;
  border: 2px solid var(--text);
  border-radius: 0.5rem;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
}
.card-cont span {
  display: block;
  font-size: 1.4rem;
  margin: 1.5rem 0;
  color: rgba(0, 0, 0, 0.733);
}
div.card-img {
  height: 20rem;
  width: 80%;
  margin: 1rem auto 0 auto;
}
div.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
div.card-cont {
  color: var(--text);
  padding: 1rem;
}
div.card-cont p {
  font-size: 1.6rem;
  text-align: justify;
}
div.card-cont h3 {
  font-size: 2rem;
}
.news-head {
  font-size: 3rem;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
form.search {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}
form.search input[type="search"] {
  display: block;
  width: 70%;
  padding: 1rem;
}
form.search input[type="submit"] {
  display: block;
  width: 20%;
  background: var(--blue);
  color: var(--other);
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.source {
  font-size: 1.4rem;
  background: var(--color);
  position: absolute;
  top: -1%;
  right: -10%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
/* ################################### */
/* Spinner */
/* ################################### */
.spinner {
  width: 10%;
  margin: auto;
}
.spinner img {
  width: 100%;
}
/* ################################
Media Queries
################################# */
@media only screen and (max-width: 768px) {
  header {
    position: relative;
  }
  header nav {
    position: fixed;
    top: 100%;
    background: var(--blue);
    width: 100%;
    z-index: 99;
    left: 100%;
    transition: 0.3s ease;
  }
  header.active nav {
    position: absolute;
    left: 0;
  }
  header.active ul {
    height: 100%;
  }
  nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header nav ul li {
    float: none;
    width: 100vw;
    align-content: space-between;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
  }
  header .icons {
    display: block;
  }
}
/* #####################################
No more data
#################################### */
.nodata {
  background: #616661;
}
.nodata h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--other);
  padding: 1rem 0;
}
/* #######################################
T issue
################################### */
.tIssue {
  max-width: 1200px;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tIssue h1 {
  color: red;
  text-align: center;
  font-size: 3rem;
}
.tIssue button.btn {
  padding: 1rem;
  color: #eee;
  background: var(--blue);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}
/* ################################## */
/* Utilities */
/* ################################## */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
a.btn {
  color: #fff;
  background: var(--blue);
  font-size: 1.6rem;
  padding: 1rem 1rem;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s ease;
  margin-top: 1rem;
}
a.btn:hover {
  background: var(--color);
}
/* ##################################
No Result Found
################################## */
.no-result {
  color: #ffe620;
  background: var(--text);
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  height: 50vh;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
